<div class="d-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-dark">Créer une nouvelle liste</h1>
  <%= link_to 'Retour aux listes', lists_path, class: 'btn btn-outline-secondary' %>
</div>

<div class="card border-0 shadow-sm p-4">
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
